doctype html

style.
    .form-textarea {height: 100px; width: 400px;}

form(method='post' action='/submit')
    textarea.form-textarea(name='api_keys' placeholder='Enter your API Keys here separated by comma ","' required)
    br
    br
    input(type='submit' value='Submit API Keys')


