doctype html
html
    head
        meta(name="viewport" content="width=device-width, initial-scale=1, max-scale=1")/
        link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")/
        script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js")
        script(type="text/javascript", src="extract.js")
        title Extraction Page

        body
            h3 Extraction In Progress